@font-face
	font-family DB
	font-style normal
	src url('../fonts/DINCondensed-Bold.woff') format('woff')
	font-weight bold

@font-face
	font-family DB
	font-style normal
	src url('../fonts/DINCondensed-Bold.woff2') format('woff2')
	font-weight bold

@font-face
	font-family CM
	font-style normal
	src url('../fonts/Calibre-Medium.woff') format('woff')

@font-face
	font-family CM
	font-style normal
	src url('../fonts/Calibre-Medium.woff2') format('woff2')

@font-face
	font-family L
	font-style normal
	src url('../fonts/LIQUIDO-Fluid.woff') format('woff')

@font-face
	font-family L
	font-style normal
	src url('../fonts/LIQUIDO-Fluid.woff2') format('woff2')
