@import 'nib'
@import './slide'

// GENERIC
global-reset()
reset-html5()
lightcolor #FFF 
darkcolor #000


html, body
	overflow hidden
	min-height 100%
	background #000
	
#root, html, body
	height 100%
	
.app 
	position relative
	height 100%
	background-color #000
	&__nav 
		position absolute
		top 80px
		left 115px
	&__navinside 
		li
			display inline
			margin-right 20px
			a
				text-decoration none
				color #fff
	&__intro
		position relative
		top 50%
		max-width 800px
		margin 0 auto
		&--text
			text-align center
			color #fff
			font-size 20
			line-height 26px
			font-weight bold